.banner
  background-origin center
  background-size cover
  background-repeat no-repeat

.added
  position absolute
  top 50%
  left 50%
  margin-left -70px
  margin-top -32px

  strong
    color white